:root {
  --color-bg: #000000;
  --color-fg: #ffffff;
}

.agentTraining {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--color-bg);
  color: #fff;
  font-family: var(--font-lato);
  position: relative;
  overflow: hidden;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 0;
}