.tutorialContainer {
  width: 100%;
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-family: var(--main-font);
  box-sizing: border-box;
}

p {
  font-size: 1.2rem;
}

/* ============ Top ============ */
.topSection {
  width: 100%;
  padding: 12px 24px;
  box-sizing: border-box;
  position: relative;
}

.topBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallSwirlIcon {
  width: 50px;
  height: 50px;
}

.exitIcon {
  width: 32px;
  height: 32px;
  cursor: pointer;
}


.swirlContainer {
  text-align: center;
  z-index: 0;
}


.swirlImage {
  max-width: 550px;
  width: 60%;
  height: auto;
  display: block;
  margin: 0 auto;
  z-index: -1;
}

.swirlTitle {
  margin-top: -300px;
  font-size: 28px;
  font-weight: 400;
  pointer-events: none;
  z-index: 1;
}

/* ============ Symbols ============ */
.middleSection {
  width: 100%;
  padding: 50px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  z-index: 2;
}

.symbolRow {
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  margin-top: 120px; 
  justify-content: center;
}

.symbolItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.symbolIcon {
  width: 48px;
  height: 48px;
  object-fit: contain;
}


/* ============ Bottom Section ============ */
.bottomSection {
  width: 100%;
  padding: 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 24px;
  border-top: 0px solid #eaeaea;
}


.divider {
  width: 100%;
  height: 1px;
  background-color: #ddd;
  margin: 0;
}

.logicContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}


.leftLogic {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-left: 180px;
  margin-top: 20px;
}


.rightLogic {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
  margin-top: 22px;
  margin-right: 330px;

}

.questionIconWrapper {
  margin-right: 12px;
  display: flex;
  align-items: center;
}

.questionIcon {
  width: 55px;
  height: 55px;
}

.rightLogicContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightLogicContent h3:first-child {
  margin-bottom: 20px;
}

.buttonRow {
  display: flex;
  justify-content: center;
  gap: 26px;
  margin-top: 30px;
}

.btn {
  font-weight: 450;
  font-size: 24px;
  padding: 6px 15px;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.btn:hover {
  background-color: #444;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}